*{
  /* overflow:hidden; */
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 100%;
} 


#saludo{
  position: relative;
  left: 3%;
  top: 15%;
  color: #ffffff !important;  
  font-weight: 50%; 
  /* padding: 0.5% 1.2%; */
  background: rgba(0, 0, 0, 0.24);
  border: 2% solid;
  border-color: #8c00ff;
  transition: all 0.5s ease;
  font-size: 3vw;
  font-family:'Yusei Magic', sans-serif;
  border-radius: 10%;
  width: auto;
  height: auto;

}
.fondo_pagina2{
  background-image: url(https://source.unsplash.com/random/1800x720/?galaxy,space);
  background-position: center center;
  background-size:cover;
  background-repeat: no-repeat;
  transition: all 10s ease;
}
#saludo:hover{
  background-color: rgb(0, 0, 0);
  border-color: crimson;
  
}
.sin-color{
background-color:unset;

}
#leviamont{
  position: absolute;
  width: 1000px;
  height: 1000;
  left: auto;
  top: 90px;
 

    
}
.rectangulo {
  width: 100%; 
  height: 18%; 
  background-color: white;  
  position:relative;
  margin: 0%;
  bottom: 16%;
  left: 0px;
  
}
.texto-encima{
  color:rgb(0, 0, 0);
  position: relative;
  font-size: 200%;
  left: 40%;
  bottom: 8%;
  margin: 0%;
  width: 20%;
  height: auto;
  font-family:'Anton', sans-serif;        
}
.rectangulo2 {
  width: 100%; 
  height: 15%; 
  border: 0px;
  background: #000000;
  position:relative;
  top: 100%;
  left: 0%;
  
  
}
#mail{
  background: url(https://img.icons8.com/color/48/000000/gmail--v2.png) no-repeat;
  background-position: center;
  background-size: cover;
  width: 4%;
  height: 50%;
  border:none;
  position: absolute;
  top: 25%;
  left: 70%;
  

}
#mail:hover{
  -webkit-transform:scale(1.3);transform:scale(1.3);
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.473);
  border-radius: 50%;
}
.icon-contacto-llamada{
  background: url(https://img.icons8.com/bubbles/50/000000/phone-ringing.png)no-repeat;
  background-size: cover;
  width: 4%;
  height: 50%;
  border: none;
  position: absolute;
  bottom: 24%;
  left: 75%;
  
}
.icon-contacto-llamada:hover{
  -webkit-transform:scale(1.1);transform:scale(1.1);
  cursor: pointer;
  border-width: 3px;
  background-color: rgb(255, 251, 0);
  border-radius: 100%;
}
.numero-tel{
  color: azure;
  position: relative;
  top: 2%;
  left: 70%;
  width: 13%;
  height: auto;
}
.texto-datos-contacto{
  color: azure;
  font-size: 150%;
  position: relative;
  top: 50%;
  left: 70px;
  width: 30%;
  height: auto;
}
.video1{
  position: relative;
  top: 10%;
  left: 11%;
  width: 70%;
  height: 43.7%;
  border-bottom-width: 5px;
  border-top-width: 10px;
  border-left-width:10px;
  border-right-width:10px ;
  border-top-color: rgb(0, 204, 255);
  border-bottom-color: rgb(0, 204, 255);
  border-left-color:white;
  border-right-color:white;
  box-shadow: rgb(136, 255, 0) 10px 10px 10px;
  transition: all 0.5s ease;
  border-radius: 0%;
  animation-name: bordes-de-videos;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes bordes-de-videos {
  0%{
    border-top-color: rgb(0, 204, 255);
  border-bottom-color: rgb(0, 204, 255);
  border-left-color:rgb(255, 255, 255);
  border-right-color:rgb(255, 255, 255);
  box-shadow: rgb(136, 255, 0) 10px 10px 10px;
  }
  25%{
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-left-color:rgb(0, 204, 255);
    border-right-color:rgb(255, 251, 0);
    box-shadow: rgb(238, 255, 0) 10px 10px 10px;
  }
  50%{
    border-top-color: rgb(255, 0, 0);
    border-bottom-color: rgb(0, 204, 255);
    border-left-color:rgb(255, 255, 255);
    border-right-color:rgb(255, 255, 255);
    box-shadow: rgb(4, 0, 255) 10px 10px 10px;
  }
  75%{
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-left-color:rgb(0, 204, 255);
    border-right-color:rgb(0, 204, 255);
    box-shadow: rgb(174, 0, 255)10px 10px 10px;
  }
  100%{
    border-top-color: rgb(0, 204, 255);
    border-bottom-color: rgb(0, 204, 255);
    border-left-color:rgb(255, 255, 255);
    border-right-color:rgb(255, 255, 255);
    box-shadow: rgb(136, 255, 0) 10px 10px 10px;
  }
}
.video1-introdución{
  font-size: 100%;
  color: white;
  position: relative;
  top: 20%;
  left: 17%;
  width: 60%;
  height: auto; 
}
#total-video1{
  position: relative;
  bottom: 73%;
  left: 35%;
  width: 30%;
  height: 60%;
  border-radius: 10%;
  animation-name: none;
  animation-duration: 5s;
}
#contenedorvideo1{
  background-color:rgba(114, 114, 114, 0.541);
  position: relative;
  top:100%;
  left: 0%;
  width: 100%;
  height: 100%;
  margin: 0px;
  border-radius: 10%;
  transition: all 5s ease;
}
#contenedorvideo1:hover{
  transition: all 5s ease;
  background-color: black;
  filter: blur(10px);
  transform: rotate(180deg); 
}

#barra-progreso{
  position: fixed;
  top: 0%;
  width: 10%;
  height: 5%;
}
.video1:hover{
  -webkit-transform:scale(1.1);transform:scale(1.1);
  transition: all 0.5s ease;
  border-radius: 10%;
  cursor: pointer;
}

.video1-introdución2{
  font-size: 100%;
  color: white;
  position: relative;
  bottom: 80%;
  left: 24%;
  width: 60%;
  height: auto;
}
#español-latino{
  background-image: url(https://img.icons8.com/color/48/000000/mexico-circular.png);
  width: 4%;
  height: 8%;
  background-position: center;
  border-radius: 50%;
  position: relative;
  left: 1%;
}
#español-latino:hover{
  -webkit-transform: scale(1.1);transform: scale(1.1);
  cursor: pointer;
}
#ingles{
  background-image: url(https://img.icons8.com/bubbles/50/000000/usa.png);
  width: 4%;
  height: 8%;
  position: relative;
  top: 10%;
  right: 3.3%;
  background-position: center;
  border-radius: 50%;
}
#ingles:hover{
  -webkit-transform: scale(1.1);transform: scale(1.1);
  cursor: pointer;  
}
.logo-pagina-2{
  position: relative;
  bottom: 120%;
  left: 10px;
  width: 10%;
  height: auto;
}
.logo-primera-pagina{
  position: relative;
  left: 30%;
  width: 40%;
  height: auto;
  
}

.fondo-pagina-1{
  
  /* background-image: url(/fondo5.jpg); */
  background-image: url(https://source.unsplash.com/random/1800x720/?abstract);
  background-size: cover;
  width: 100%;

}
.robots-estilo{
  position: absolute;
  top: 25%;
  left: 60%;
  margin: auto;
  width: 35%;
  height: auto;
}
.robots-estilo2{
  position: absolute;
  top: 25%;
  left: 5%;
  width: 35%;
  height: auto;

} 

/* responsive Para 960px */  
@media only screen and (max-width: 980px) and (min-width: 821px) {
  #saludo{
    top: 50%;
    left: -5%;
    font-size: 330%;
  }
  #total-video1{
    left: 10%;
    width: 20%;
  }
  .avanzar{
    left: 20% !important;
  }
  .texto-encima{
    font-size: 100%;
  }
  #mail{
    left: 40%;
  }
}  
  
/* responsive Para 800px */  
@media only screen and (max-width: 820px) and (min-width: 621px) {  
  #saludo{
    top: 55%;
    left: -5%;
    font-size: 330%;
  }
  #total-video1{
    bottom: 55%;
    left: 20%;
    width: 30%;
    height: 60%;
  }
  .texto-encima{
    top: 10%;
    left: 30%;
    font-size: 300%;
    width: 50%;
  }
  .avanzar{
    width: 15% !important;
  }
  #mail{
    width: 10%;
  }
  #español-latino{
    width: 10%;
  }
  #ingles{
    right: 10%;
    width: 10%;
  }
  #contenedorvideo1{
    width: 150%;
    height: 50%;
  }
  .video1{
    top: 55%;
    left: 17%;
    width: 100%;
    height: 20%;
  }
  .video1-introdución{
    top: 60%;
    left: 40%;
  }
}  
  
/* responsive Para 600px */  
@media only screen and (max-width: 620px) and (min-width: 501px) {  
  #saludo{
    top: 50%;
    left: -5%;
    font-size: 250%;
  }
  #total-video1{
    width: 70%;
    height: 40%;
    left: 15%;
    bottom: 40%;
  }
  #español-latino{
    width: 10%;
  }
  #ingles{
    width: 10%;
    right: 10%
  }
  .avanzar{
    top: 5%;
    width: 15% !important;
  }
  #contenedorvideo1{
    width: 100%;
    height: 100%;
  }
  .texto-encima{
    left: 10%;
    width: fit-content;
    font-size: 350%;
  }
  #mail{
    width: 10%;
  }
}  

/* responsive Para 480px */  
@media only screen and (max-width: 500px) and (min-width: 341px) {  
  #saludo{
    top: 50%;
    left: -10%;
    font-size: 200%;
  }
  .avanzar{
    width: 15% !important;
  }
  #español-latino{
    width: 10% !important;
  }
  #ingles{
    right: 10%;
    width: 10% !important;
  }
  #mail{
    width: 10% !important;
  }
  #total-video1{
    left: 20%;
  }
  #contenedorvideo1{
    width: 200%;
    height: 70%;
  }
  .video1{
    top: 35%;
    left: 10%;
    height: 30%;
    width: 150%;
  }
  .video1-introdución{
    top: 40%;
    left: 50%;
    width: 100%;
    font-size:smaller;
  }
  .texto-encima{
    width: fit-content;
    left: 23%;
  }
}  
  
/* responsive Para 320px */  
@media only screen and (max-width: 340px) and (min-width: 280px)  {  
  #saludo{
    top: 50%;
    right: 15%;
    font-size: 150%;
  }
  .texto-encima{
    width: fit-content;
    left: 10%;
  }
  .video1-introdución{
    width: 100%;
    font-size:smaller;
    left: 5%;
  }
  #español-latino{
    bottom: 15%;
    left: 30%;
    width: 12%;
  }
  #ingles{
    top: -15%;
    left: 40%;
    width: 15%;
  }
  .logo-pagina-2{
    top: 20%;
  }
  #total-video1{
    bottom: 50%;
    left: 10%;
    width: 70%;
    height: 40%;
  }
  .avanzar{
    top: 2%;
    left: 30% !important;
    width: 20% !important;
    height: 10% !important;
  }
  /* .texto-encima{
    font-size: 150%;
    margin: 0%;
  } */
  .texto-datos-contacto{
    left: 10%;
    font-size: 100%;
    margin: 0%;
  }
  #mail{
    left: 50%;
    width: 20%;
  }
  #contenedorvideo1{
    width: 100%;
    height: 100%;
  }
}
#botonprueba{
  background-color:#e84a36;
  color: white;
  border-color: #a52313;
  width: 100px;
  height: 30px;
  font-weight: 600;
  text-align: center;
  border-radius: 5px;
}
#botonprueba:hover{
  background-color: #a52313;
  cursor: pointer;
  -webkit-transform: scale(1.1);transform: scale(1.1);
}
@media only screen and (max-width:279px) and (min-width:5px) {
  .texto-encima{
    font-size: 100%;
    width: 60%;
    left: 20%;
  }
  .texto-datos-contacto{
    font-size: 60%;
  }
  .video1-introdución{
    top: 10%;
    left: 15%;
    width: 80%;
    font-size: smaller;
  }
  #total-video1{
    bottom: 80%;
    left: 3%;
    width: 80%;
    height: 60%;
  }
  #contenedorvideo1{
    width: 100%;
    height: 100%;
  }
  .avanzar{
    bottom: 10%;
    left: 45% !important;
    width: 12% !important;
  }
  #mail{
    width: 10%;
  }
  #español-latino{
    top: 55%;
    width: 10%;
  }
  #ingles{
    top: 55%;
    width: 10%;
    left: 5%;
  }
}
@media only screen and (max-height:362px) and (min-height:360px) and (min-width:640px) {
  .texto-encima{
    font-size: 150%;
  }
  #total-video1{
    bottom: 70%;
  }
  #contenedorvideo1{
    width: 150%;
    height: 100%;
  }
  .video1{
    height: 50%;
    top: 10%;
  }
  .video1-introdución{
    top: 15%;
  }
  #español-latino{
    width: 5%;
  }
  #ingles{
    right: 5%;
    width: 5%;
  }
  .avanzar{
    width: 5% !important;
  }
  #mail{
    top: 0%;
    height: 100%;
  }
}
@media only screen and (max-width:1800px) and (min-width:1020px) and (min-height:1020px) {
  #total-video1{
    width: 50%;
    height: 50%;
    left: 20%;
    bottom: 50%;
  }
  #español-latino{
    width: 10%;
    height: 10%;
  }
  #ingles{
    width: 10%;
    height: 10%;
    top: 15%;
    right: 10%;
  }
  .avanzar{
    width: 12% !important;
  }
  #mail{
    width: 10%;
  }
  .texto-datos-contacto{
    font-size: 350%;
  }
  .texto-encima{
    left: 1%;
    font-size: 800%;
    width: fit-content;
  }
  .video1-introdución{
    font-size: 250%;
  }
}
/* .retroceder{
  position: relative;
  bottom: 20%;
  left: 15%;
  border-radius: 50%;
  width: 5%;
  height: 10%;
  background-color: antiquewhite;
  font-size: 100%;
  animation-name: entrada_botones;
  animation-duration: 5s;
}
.retroceder:hover{
  background-color: #8c00ff;
  cursor: pointer;
  -webkit-transform: scale(1.2); transform: scale(1.2);
  font-size: 200%;
} */
.avanzar{
  position: relative;
  bottom: 20%;
  left: 75%;
  border-radius: 50%;
  width: 5%;
  height: 10%;
  color: white;
  background-color: rgb(255, 145, 0);
  font-size: 100%;
  animation-name: entrada_botones;
  animation-duration: 5s;
}
.avanzar:hover{
  background-color: #8c00ff;
  cursor: pointer;
  -webkit-transform: scale(1.2); transform: scale(1.2);
  font-size: 200%;
}
.avanzar:focus{
  animation-name: animación_de_hover_botones;
  animation-duration: 5s;
}
@keyframes animación1{
  0%{
    
    filter: blur(0px);
  }
  10%{
    filter: blur(50px);
    left: 67%;
  }
  20%{
   
    left: 70%;
  }
  50%{
    
    filter: blur(30px);
    left: 70%;
    overflow: hidden;
  }
  60%{
    filter: blur(20px);
    left: 0%;
  }
  70%{
    filter: blur(20px);
    left: 20%;
  }
  80%{
    filter: blur(20px);
    left: 35%;
  }
  100%{
    filter: blur(0px);
  }
}
@keyframes entrada_botones{
  0%{
    visibility: hidden;
  }
  10%{
    visibility: hidden;
  }
  30%{
    visibility: hidden;
  }
  50%{
    visibility: hidden;
  }
  80%{
    visibility: hidden;
  }
  100%{
    transition: all 1 ease;
    visibility:visible;
  }
}
@keyframes animación_de_hover_botones {
  0%{
    background-color: rgb(255, 145, 0) ;
  }
  10%{
    background-color: rgb(0, 204, 255);
    border-radius: 40%;
  }
  30%{
    transition: all 2s ease;
    background-color: rgb(255, 0, 0);
    border-radius: 30%;
  }
  60%{
    transition: all 2s ease;
    background-color: rgb(255, 251, 0);
    border-radius: 20%;
  }
  80%{
    transition: all 2s ease;
    background-color: salmon;
    rotate:30%;
  }
  100%{
    background-color: rgb(255, 145, 0);
  }
}